body {
  background-color: #dec0e1;
  background-image: url(/img/FondoSitioNuevo.png);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  font-family: "Gudea", sans-serif;
  text-align: center;
}
body nav {
  color: #227c9d;
  background-color: rgba(222, 192, 225, 0.6980392157);
  border: 10px;
}
body main {
  font-family: "Ultra", serif;
  color: #ee6c4d;
  margin: 20px;
  padding: auto;
  width: auto;
  height: max-content;
}
body main div {
  display: flex;
  flex-wrap: wrap;
  align-content: normal;
  align-items: flex-start;
  width: 80%;
  margin: auto;
  padding: 5px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}
body main div ul {
  margin: auto;
  padding: 15px;
}
body main div ul li {
  font-family: "Gudea", sans-serif;
  list-style: none;
}
body main div ul li h2 {
  font-family: "Ultra", serif;
}
body footer p {
  color: #227c9d;
  height: 90px;
  width: auto;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  div {
    margin: none;
  }
}
.infoHistoria {
  width: 80%;
  margin: auto;
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "historia img" "historia img" "medidas medidas";
  gap: 20px;
}

.historia {
  grid-area: historia;
  margin: auto;
  background-color: rgba(222, 192, 225, 0.6980392157);
  border-radius: 20px;
}
.historia p {
  font-family: "Gudea", sans-serif;
}

div {
  width: 100%;
  margin: 0 auto;
  grid-area: img;
}
div .imgen {
  width: 100%;
  height: auto;
}

.medidas {
  grid-area: medidas;
  font-family: "Gudea", sans-serif;
  color: #227c9d;
  background-color: rgba(222, 192, 225, 0.6980392157);
  border-radius: 20px;
}
.medidas h1 {
  font-family: "Ultra", serif;
}
.medidas p {
  font-family: "Gudea", sans-serif;
}

li {
  font-family: "Gudea", sans-serif;
  list-style: none;
}

@media screen and (max-width: 1024px) {
  .infoHistoria {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "historia" "img" "medidas";
  }
  div {
    justify-content: center;
    align-items: center;
  }
  div .imagen {
    width: 80%;
  }
}
.galeria {
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
}
.galeria .card {
  font-family: "Gudea", sans-serif;
  color: #227c9d;
}

@media screen and (max-width: 1024px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .galeria {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
  }
}
.sponsors {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .sponsors {
    flex-direction: column;
    width: 80%;
  }
  .sponsors img {
    width: 80%;
  }
}
.productos {
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
}
.productos .card {
  font-family: "Gudea", sans-serif;
  color: #17c3b2;
}
.productos .card .btn-primary {
  background-color: #17c3b2;
  border: 0;
}

@media screen and (max-width: 1024px) {
  .productos {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .productos {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }
}
.galeria, .productos {
  display: grid;
  column-gap: normal;
  row-gap: 20px;
  font-family: "Gudea", sans-serif;
  border-radius: 20px;
  min-width: 200px;
  margin: auto;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

/*# sourceMappingURL=style.css.map */
