body{
    height: 100vh;
    width: 100vw;
    background-color: nth($colores, 1 );
    font-family: $textos;
    text-align: center;
    main{
        .infoHistoria{
            width: 80%;
            margin: auto;
            padding: 40px 0;
            display: flex;
            gap: 20px;
            .historia{
                width: 40%;
            }
            .imagen{
                width: 60%;
            }
        }
        section{
            font-family: $titulos;
            color: nth($colores, 5 );
            p{
                font-family: $textos;
            }
        }
        li{
            font-family: $textos;
        }
    }
}