.infoHistoria{
            width: 80%;
            margin: auto;
            padding: 40px 0;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-areas: 
            "historia img"
            "historia img"
            "medidas medidas";
            gap: 20px;
}
.historia{
    grid-area: historia;
    margin: auto;
    background-color: #dec0e1b2;
    border-radius: 20px;
    p{
        font-family: $textos;
    }
}
 div{
    width: 100%;
    margin: 0 auto;
    grid-area: img;
    .imgen {
    width: 100%;
    height: auto;
    }
}
.medidas{
    grid-area: medidas;
            font-family: $textos;
            color: nth($colores, 5 );
            background-color: #dec0e1b2;
            border-radius: 20px;
            h1{
                font-family: $titulos;
            }
            p{
                font-family: $textos;
            }
}
 li{
    font-family: $textos;
    list-style: none;
 }
@media screen and (max-width:1024px) {
        .infoHistoria{
            grid-template-columns: repeat(1,1fr);
            grid-template-areas: 
            "historia"
            "img"
            "medidas";
        }
        div{
            justify-content: center;
            align-items: center;
            .imagen{
                width: 80%;
            }

        }

}
