body{
    height: map-get($body , alto );
    width: map-get($body , ancho );
    background-color: nth($colores, 1 );
    // background-image: url(../img/FondoSitio1.jpg);
    font-family: $textos;
    text-align: map-get($body , texto );
    nav{
        color: nth($colores, 5 )
    }
    main{
        font-family: $titulos;
        color: nth($colores, 3 );
        margin: 2px;
        div{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            min-width: 200px;
            width: 80%;
            margin: auto;
            padding: 20px;
            position: relative;
            overflow: hidden;
            background-size: cover;
            background-position: center center;
            ul{
                margin: auto;
                padding: 15px;
                list-style-type: none;
                background-color: white;
                border-radius: 10%;
                li{
                    font-family: $textos;
                    h2{
                        font-family: $titulos;
                    }
                }
            }

        }
    }
    footer{
        p{
            color: nth($colores, 5 );
            height: 90px;
            width: 100%;
            @include pieDePagina()
        }

    }
}