body{
    height: map-get($body , alto );
    width: map-get($body , ancho );
    background-color: nth($colores, 1 );
    background-image: url(/img/FondoSitioNuevo.png);
    background-repeat: repeat;
    background-position:center;
    background-size: cover;
    font-family: $textos;
    text-align: map-get($body , texto );
    nav{
        color: nth($colores, 5 );
        background-color:#dec0e1b2 ;
        border: 10px;
    }
    main{
        font-family: $titulos;
        color: nth($colores, 3 );
        margin: 20px;
        padding: auto;
        width:auto;
        height: max-content;
        div{
            display: flex;
            flex-wrap: wrap;
            align-content: normal;
            align-items: flex-start;
            width: 80%;
            margin: auto;
            padding: 5px;
            position: relative;
            overflow: hidden;
            background-size: cover;
            background-position: center center;
            ul{
                margin: auto;
                padding: 15px;
                li{
                    font-family: $textos;
                    list-style: none;
                    h2{
                        font-family: $titulos;
                    }
                }
            }

        }
    }
    footer{
        p{
            color: nth($colores, 5 );
            height: 90px;
            width: auto;
            @include pieDePagina()
        }

    }
}
@media screen and (max-width:1024px) {
    div{
        margin: none;
    }
}
@media screen and (max-width: 768px) {

}