.sponsors{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    margin: auto;
}
@media screen and (max-width:1024px) {
    .sponsors{
        flex-direction: column;
        width: 80%;
        img{
            width: 80%;
        }
    }

}
