.productos{
   @extend %cards;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 50%;
    .card{
        font-family: $textos;
        color: nth($colores, 4 );
        .btn-primary{
        background-color: nth($colores, 4 );
        border: 0;
        }
    }
}
@media screen and (max-width: 768px){
    .productos{
        grid-template-columns: repeat(1,1fr);
        width: 80%;
    }
}